# Mac crap
.DS_Store

#AMX compiled files
*.amx

#executables
*.exe

#shortcuts
*.lnk

#dlls
*.dll

#banfile
*.ban

#sublime stuff
*.sublime-project
*.sublime-workspace


#unwanted files
crashinfo.txt
server_log.txt
server.cfg
start.bat
samp-server.exe


#unwanted folders
Public Server/
Stuff/
plugins/
pawno/
npcmodes/
BACKUP/
dependencies/

gamemodes/Backups/
gamemodes/Other Servers/
gamemodes/Stopped Projects/
